<div id='simple-container' style='font-size:16px; line-height: 24px;'>
  <div><p><%= @message.html_safe %></p></div>
  <div id="servicestack_expired" style="display:none;">
    <h4>These forums are for active ServiceStack Customers only</h4>
    <p>
      The email provided is either not registered or does not have an active ServiceStack subscription. 
      Please check your subscription or register your email at: 
      <a href="https://servicestack.net/account/support">servicestack.net/account/support</a>
    </p>
  </div>
  <div id="servicestack_valid_account" style="display:none;">
    <h4>Account registered</h4>
    <p>
      An activation email should be sent to your email shortly.
    </p>
  </div>
  <p id="servicestack_expire_soon" style="color:red; display:none;"></p>
</div>

<%- content_for(:no_ember_head) do %>
    <%= script "vendor" %>
<%- end %>

<script>
        var userEmail = '<%= @user_email %>';
        $.ajax('https://servicestack.net/account/active?Email=' + userEmail + '&format=json').then(function (response) {
            if(response.Expiry == null) {
                $('#servicestack_expired').show();
            } else {
                $('#servicestack_valid_account').show();
                var expireDateString = response.Expiry;
                var unixTime = /Date\(([^)]+)\)/.exec(expireDateString)[1];
                var expireDate = new Date(parseFloat(unixTime));
                var d = new Date();
                d.setDate(expireDate.getDate() - 7);
                if(d > expireDate) {
                    var expireSoonMessage = 'Your subscription expires soon on the ' +
                            expireDate.getDate() + '/' +
                            (expireDate.getMonth() + 1) + '/' +
                            expireDate.getFullYear();
                    $('#servicestack_expire_soon').html(expireSoonMessage).show();
                }

            }
        });
</script>
